@charset "UTF-8";
:root {
  --red: hsl(0, 100%, 68%);
  --very-dark-blue: hsl(230, 29%, 20%);
  --dark-grayish-blue: hsl(230, 11%, 40%);
  --grayish-blue: hsl(231, 7%, 65%);
  --light-grayish-blue: hsl(207, 33%, 95%);
}

@font-face {
  font-family: "Barlow Condensed";
  src: url("../fonts/barlowcondensed-regular-webfont.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Barlow Condensed";
  src: url("../fonts/barlowcondensed-bold-webfont.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Barlow";
  src: url("../fonts/barlow-regular-webfont.woff") format("woff");
  font-weight: 400;
}
html {
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
  margin: 0;
  height: 100vh;
  font-size: 18px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: normal;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fff;
}
@media (min-width: 1160px) {
  header {
    background-color: transparent;
  }
}

main {
  margin-top: 2rem;
  width: 82.5%;
  max-width: 1100px;
  height: 100%;
  position: relative;
}
@media (min-width: 1160px) {
  main {
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.navbar-brand {
  width: 82.5%;
  max-width: 1100px;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1160px) {
  .navbar-brand {
    margin-top: 1rem;
  }
}

.brand {
  width: 24px;
  height: 24px;
}
@media (min-width: 1160px) {
  .brand {
    width: 34px;
    height: 34px;
  }
}

.navbar {
  display: flex;
  align-items: center;
}
@media (min-width: 1160px) {
  .navbar__menu-icon {
    display: none;
  }
}
.navbar__menu {
  display: none;
}
@media (min-width: 1160px) {
  .navbar__menu {
    display: flex;
  }
}
.navbar__menu-item:last-child::before {
  content: "•";
  color: var(--grayish-blue);
  margin-left: 1rem;
  margin-right: 1rem;
}
.navbar__menu-link {
  text-transform: uppercase;
  padding: 8px 1rem;
  font-size: 16px;
  font-weight: 700;
  color: var(--very-dark-blue);
}
.navbar__menu-link--active {
  color: var(--grayish-blue);
}
.navbar__menu-link:hover {
  text-decoration: underline;
}

.illustration {
  height: 248px;
  margin-left: -24px;
  margin-bottom: 5rem;
}
@media (min-width: 1160px) {
  .illustration {
    order: 2;
    margin: 0;
    height: 90%;
    position: absolute;
    left: 640px;
  }
}

.main__info {
  font-size: 16px;
  text-transform: uppercase;
}
.main__info-link {
  color: var(--grayish-blue);
  letter-spacing: 4px;
  margin-right: 8px;
}
.main__info-link--active {
  background-color: var(--very-dark-blue);
  color: var(--light-grayish-blue);
  padding: 4px 12px;
  border-radius: 14px;
  font-weight: 700;
  letter-spacing: 0;
}
.main__title {
  text-transform: uppercase;
  font-size: 2.5rem;
  line-height: 1;
  margin-top: 1.4rem;
  margin-bottom: 1rem;
}
@media (min-width: 1160px) {
  .main__title {
    font-size: 4rem;
  }
}
.main__paragraph {
  font-family: "Barlow", sans-serif;
  font-size: 1.2rem;
  color: var(--dark-grayish-blue);
  margin-bottom: 2.2rem;
  width: 300px;
}
.main__button {
  word-spacing: 1.5px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 13px;
  color: var(--grayish-blue);
}
.main__button--active {
  word-spacing: 0;
  padding: 14px 24px;
  letter-spacing: 1.5px;
  background-color: var(--red);
  font-weight: 700;
  color: var(--light-grayish-blue);
  border-radius: 6px;
  margin-right: 20px;
}
.main__button:hover {
  opacity: 0.6;
}
@media (min-width: 1160px) {
  .main {
    margin: 0;
    order: 1;
    width: 50%;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.attribution a {
  color: #3e52a3;
}

/*# sourceMappingURL=style.css.map */
