@font-face {
    font-family: 'Barlow Condensed', sans-serif;
    src: url('../fonts/barlowcondensed-regular-webfont.woff') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Barlow Condensed', sans-serif;
    src: url('../fonts/barlowcondensed-bold-webfont.woff') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Barlow', sans-serif;
    src: url('../fonts/barlow-regular-webfont.woff') format('truetype');
    font-weight: normal;
}